In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('../data/telco_customer_churn.csv')

In [ ]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)

In [15]:
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [17]:
label_cols = ['gender', 'Partner', 'Dependents', 'PhoneService', 
              'MultipleLines', 'InternetService', 'OnlineSecurity', 
              'OnlineBackup', 'DeviceProtection', 'TechSupport', 
              'StreamingTV', 'StreamingMovies', 'Contract', 
              'PaperlessBilling', 'PaymentMethod', 'Churn']
encoder = LabelEncoder()
for col in label_cols:
    df[col] = encoder.fit_transform(df[col])
df['AVGMonthlySpend'] = df['TotalCharges'] / (df['tenure'] + 1)
y = df.drop(['customerID', 'Churn'],axis=1)
X = df['Churn']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("✅ Data ready for machine learning!")
df.to_csv("../data/ml_ready_telco.csv", index=False)
print("✅ ML-ready CSV file saved!")

✅ Data ready for machine learning!
✅ ML-ready CSV file saved!